<div style="background-color:aliceblue;padding:50px;">
	<table align="center" bgcolor="#ffffff" cellpadding="20">
        <tr style="text-align:center;">
        	<th><img src="$logo" style="width:10%;"><h1>FrrndLease</h1></th>
        </tr>
        <tr style="text-align:center;">
        	<td>$body</td>
        </tr>
        <tr style="text-align:center;">
        	<td valign="top" style="padding-bottom:2px;">
        		<u>Account Status</u>: <br>
        		You have <strong>$credits credits</strong> left to spend on FrrndLease.
            </td>
         </tr>
         <tr style="text-align:center;">
        	<td valign="top" style="padding-bottom:5px;">
        		<u>Leader Board:</u>: <br>
        		$leaderBoard<br><br>
            </td>
         </tr>
         <tr style="text-align:center;">
         	<td style="padding-top:0px;">
         		<hr/>
         		To stop recieving this email change notification setting <a href="$url">Here</a>
         	</td>
         </tr>
         <tr style="text-align:center;">
         	<td style="padding-top:0px;">
         		Thank you for being good to the earth!<br>
         		The FrrndLease Team
         	</td>
         </tr>
     </table>
</div>
