    <div ng-app="carouselApp">
        <div ng-controller="carouselCtrl">
            <div id="categoryfilters" class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="btn-group" id="categorybrowsing">
                            <span class="categoryfilters" ng-if="search.show" ng-click="clearSearch()">
                                <button class="btn btn-primary btn-fill">"{{search.string}}" &nbsp;&nbsp;&nbsp; x</button>
                            </span>
                            <span class="categoryfilters" ng-repeat="c in categories" ng-click="categorySelected($index)">
                                <button class="btn ng-class:{'btn-default': !c.active, 'btn-fill btn-primary': c.active}" id="All">{{c.label}}</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

			<br />
            <h4 ng-if="notPosted">You have not added any item to the friends store. 
                <a href="myapp.html#/wizard" class="btn btn-primary btn-fill">Offer Item &amp; Earn Credits</a>
                <br/><br/>
            </h4>
            <!-- Carousel Start -->
			<div class="row" id="carouselObject" style="padding-right:5%">
                <div class="item ng-class:{'active':$first}" id="$index" ng-repeat="items in itemsArray">
                    <div class="row" id="product-cards" >
                        <div class="col-md-2 col-sm-2 col-xs-2">
                        </div>
                        <div class="col-md-3 col-sm-8 col-xs-8" ng-repeat="item in items">
                            <span class="items" ng-click="itemClicked(item.uid)">
                            <div class="card card-product">
                                <div class="image">
                                    <a href="">
                                        <img load-image="item.primaryImageLink" ng-src="" id="{{item.itemId}}">
                                    </a>
                                </div>
                                <div class="content">
                                    <a href="">
                                        <h5 class="title" id="{{item.itemId}}" style="text-align:center;"><b>{{item.title}}</b></h5>
                                    </a><br>
                                    <p class="description" id="{{item.itemId}}" style="text-align:center;word-wrap:break-word;">
                                    <span class="label label-danger label-fill" ng-if="item.status == 'OnHold'" style="text-align:center;">On Hold</span><br>
									<span class="label label-success label-fill" ng-if="item.friendStatus == true" style="text-align:center;">Friend</span><br>
                                    <b style="color:Grey;">{{(item.distance == '0m' ? 'Under 1km' : item.distance)}}</b><br>
                                    <span ng-if="item.leaseTerm != ''" class="glyphicon glyphicon-tags"></span><i>{{' '+ item.leaseTerm + ' Lease '}}</i><br>
                                    <label ng-switch="user_status" >
                                        <label ng-switch-when="''" ng-if="item.locality != ''" id="{{item.itemId}}"><span class="glyphicon glyphicon-map-marker"></span><b>{{" " + item.locality}}</b></label>
                                        <label ng-switch-when="null" ng-if="item.locality != ''" id="{{item.itemId}}"><span class="glyphicon glyphicon-map-marker"></span><b>{{" " + item.locality}}</b></label>
                                        <label ng-switch-when="anonymous" ng-if="item.locality != ''" id="{{item.itemId}}"><span class="glyphicon glyphicon-map-marker"></span><b>{{" " + item.locality}}</b></label>
                                        <label ng-switch-default ng-if="item.sublocality != '' || item.locality != ''" id="{{item.itemId}}"><span class="glyphicon glyphicon-map-marker"></span><b>{{" "+item.sublocality +"," + item.locality}}</b></label>
                                    </label>
                                    </p>
                                </div>
                            </div> <!-- end card -->
                        </span>
                        </div>
                        <div class="col-md-6 col-sm-2 col-xs-3">
                        </div>
                    </div>	
                </div>
			</div>
            <div class="row">
                <div ng-if="showNext" style="text-align:center;">
                    <button ng-click="loadNextSlide()" class="btn btn-default btn-round btn-fill" id="successBtn" >Load more...</button>
                </div>
                <div class="alert alert-success btn-tooltip" ng-if="showWishes" style="margin-top: 20px;" ng-click="offerStuffClicked()" data-toggle="tooltip" data-placement="top" title="Add your items to the store">
                    <div class="container">Top Ten Wished Items - 
                          <span class="label label-success" ng-repeat="wish in wishes">{{wish | limitTo: 20}}<span ng-if="wish.length > 20">&hellip;</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>