    <div ng-app="carouselApp">
        <div ng-controller="carouselCtrl">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 col-sm-12" style="border-right:thin solid #eee;">
                        <div ng-repeat="c in categories" >
                            <button class="btn btn-block btn-sm ng-class:{'btn-simple btn-default': !c.active, 'btn-fill btn-primary': c.active}" onclick="ga('send', 'event', 'index', 'click', 'ItemCategory');" id="All" ng-click="categorySelected($index)">{{c.label}}</button><br/>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="container-fluid">
                            <span>
                                <button ng-if="search.show" class="btn btn-sm btn-primary btn-fill" ng-click="clearSearch()">"{{search.string}}" &nbsp;&nbsp;&nbsp; x</button>
                                <span>Showing items near <strong>{{search.place}}</strong> from <strong>'{{search.category}}'</strong> category</span>
                                <br/><hr/>
                            </span>
                            <h4 ng-if="notPosted" style="text-align:center;">You have not added any item to the friends store. 
                                <a href="myapp.html#/wizard" class="btn btn-primary btn-fill">Offer Item &amp; Earn Credits</a>
                                <br/><br/>
                            </h4>
                            <!-- Carousel Start -->
                            <div class="row" id="carouselObject">
                                <div class="container-fluid" id="$index" ng-repeat="items in itemsArray">
                                    <div class="row" id="product-cards">
                                        <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="item in items">
                                            <div class="card">
                                                <a href="ItemDetails?uid={{item.uid}}">
                                                    <div class="image" style="height: 100%;">
                                                        <img load-image="item.primaryImageLink" ng-src="">
                                                        <div class="filter">
                                                            <p class="filter-text">Lease Fee: <i class="fa fa-inr" aria-hidden="true"></i>{{item.surcharge}}</p>
                                                            <p class="filter-text"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{item.leaseTerm}} Lease</p>
                                                            <p class="filter-text btn-tooltip" data-toggle="tooltip" data-placement="top" title="Item's Rating" ng-if="item.itemsAvgRating > 0" style="text-align:center;" tooltip>
                                                                <span ng-if="item.itemsAvgRating == 1">
                                                                    Experience:<br/>
                                                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                                                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                    &nbsp;Very Unhappy
                                                                </span>
                                                                <span ng-if="item.itemsAvgRating == 2">
                                                                    Experience:<br/>
                                                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                                                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                    &nbsp;Unhappy
                                                                </span>
                                                                <span ng-if="item.itemsAvgRating == 3">
                                                                    Experience:<br/>
                                                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                                                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                    &nbsp;Happy
                                                                </span>
                                                                <span ng-if="item.itemsAvgRating == 4">
                                                                    Experience:<br/>
                                                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                                                    &nbsp;Very Happy
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="content">
                                                    <a class="card-link" href="ItemDetails?uid={{item.uid}}">
                                                        <h4 class="title">
                                                            <i ng-if="item.uber" class="fa fa-bookmark blue btn-tooltip" data-toggle="tooltip" data-placement="top" title="Featured Item" aria-hidden="true" tooltip></i> {{item.title | limitTo: 32}}
                                                        </h4>
                                                    </a>
                                                    <p class="category">
                                                        <span class="label label-danger label-fill" ng-if="item.status == 'OnHold'" style="text-align:center;">On Hold</span><br ng-if="item.status == 'OnHold'">
                                                        <span class="label label-primary label-fill" ng-if="item.status != 'OnHold' && item.status != 'InStore'" style="text-align:center;">{{item.status}}</span>
                                                    </p>
                                                    <p class="category">
                                                        <label ng-if="item.sublocality != '' || item.locality != ''">
                                                            <i class="fa fa-map-marker"></i>&nbsp;{{item.distance == '0m' ? 'Under 1km' : item.distance}}&nbsp;-&nbsp;{{item.sublocality+","+item.locality}}
                                                        </label>
                                                    </p><hr style="margin-top:5px;margin-bottom:5px;"/>
                                                    <div class="footer">
                                                        <div class="author">
                                                            <a class="card-link" href="/UserProfile?userUid={{item.userUid}}">
                                                               <i class="fa fa-user-circle-o"></i> {{item.fullName}}
                                                            </a>
                                                        </div>
                                                        <div class="stats pull-right" ng-if="item.friendStatus == true">
                                                            <i class="fa fa-handshake-o"></i> Is Friend
                                                        </div>
                                                        <div class="stats pull-right" ng-if="item.friendStatus == false">
                                                            <i class="fa fa-users"></i> Is Member
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:10px;">
                                <div ng-if="showNext" style="text-align:center;">
                                    <button ng-click="loadNextSlide()" onclick="ga('send', 'event', 'index', 'click', 'LoadMore');" class="btn btn-primary btn-sm btn-round btn-fill" id="successBtn" >Load more...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="alert alert-success" ng-if="showWishes" style="margin-top: 20px;">
                        <div class="container">
                            <div class="row" style="display: flex;flex-wrap: wrap;">
                                <div class="col-md-9">
                                    Top Ten Wished Items -
                                    <span class="label label-success" ng-repeat="wish in wishes">
                                        {{wish | limitTo: 20}}
                                        <span ng-if="wish.length > 20">&hellip;</span>
                                    </span>
                                </div>
                                <div class="col-md-3">
                                    <button ng-click="offerStuffClicked()" onclick="ga('send', 'event', 'index', 'click', 'StoreYourThings');" id="storebutton" class="btn btn-success btn-fill">I have something to offer!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
