<div ng-app="headerApp">
    <div ng-controller="headerCtrl" id="navbar">
        <nav class="{{navClassValue}}" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index.html" class="navbar-brand" id="icon"><b>frrndLease</b></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar1">

                    <!-- Store Your Stuff button -->
                    <li class="nav navbar-nav" ng-if="isLoggedIn()">
                        <a ng-click="storeYourStuff()" class="btn btn-primary btn-fill">Offer My Stuff</a>
                    </li>
                    
                    <!-- Searchbar starts here -->
                    <li class="nav navbar-nav" ng-if="showSearch" style="margin-left:3px;margin-top:15px;margin-bottom:15px;">
                        <input class="form-control" type="text" ng-autocomplete ng-model="search.location" options="options" details="details" />
                    </li>
                    
                    <div class="nav navbar-nav col-sm-4 col-md-4" ng-if="showSearch">
                        <div class="input-group" style="margin-left:5px;">
                            <input type="text" class="form-control" style="margin-top:15px;margin-bottom:15px;" ng-keypress="($event.charCode==13)?searching():return" placeholder="Search from {{item_count}} items from {{user_count}} members on Frrndlease" ng-change="searchStringChanged(search.string)" ng-model="search.string">
                            <div class="input-group-btn">
                                <a class="btn btn-primary btn-fill" ng-click="searching()"><i class="glyphicon glyphicon-search"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Searchbar ends here -->
                    
                    <!-- Dropdown starts here -->
                    <ul class="nav navbar-nav navbar-right">
                        
                        <li ng-if="isAdmin()"><a id="headerfooteroptions" href="adminPage.html"><span class="glyphicon glyphicon-home"></span> Admin</a></li>

                        <li ng-if="isAnonymous()"><a id="headerfooteroptions" href="" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                        <li ng-if="isAnonymous()"><a id="headerfooteroptions" href="" data-toggle="modal" data-target="#registerModal"><span class="glyphicon glyphicon-user"></span> Signup</a></li>

                        <li ng-if="isLoggedIn()" class="navbar-brand" style="color:#337ab7;font-size:14px;"><strong>{{credits}}</strong></li>

                        <li ng-if="isLoggedIn()" class="dropdown">
                            <a href="" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"> 
                                <b>{{salutation}}</b>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li><a href="myapp.html#/mypostings"><i class="glyphicon glyphicon-phone"></i> MyPostings </a></li>
                                <li><a href="myapp.html#/mywishlists"><i class="glyphicon glyphicon-heart-empty"></i> MyWishList </a></li>
                                <li><a href="myapp.html#/myincomingrequests"><i class="glyphicon glyphicon-inbox"></i> MyIncomingRequests </a></li>
                                <li><a href="myapp.html#/myoutgoingrequests"><i class="glyphicon glyphicon-road"></i> MyOutgoingRequests </a></li>
                                <li><a href="myapp.html#/myleasedoutitems"><i class="glyphicon glyphicon-gift"></i> MyLeasedOutItems </a></li>
                                <li><a href="myapp.html#/myleasedinitems"><i class="glyphicon glyphicon-shopping-cart"></i> MyLeasedInItems </a></li>
                                <li><a href="myapp.html#/myfriendslist"><i class="glyphicon glyphicon-user"></i> MyFriends </a></li>
                                <li><a href="myapp.html#/myprofile"><i class="glyphicon glyphicon-list-alt"></i> MyProfile </a></li>
                                <li ng-click="logout()"><a href="#"><i class="glyphicon glyphicon-log-out"></i> Logout </a></li>
                            </ul>
                        </li>

                    </ul>
                    <!-- Dropdown ends here -->
                    
                </div>
            </div>
        </nav>
    </div>
    <div ng-include="'loginmodal.html'"></div>
    <div ng-include="'signupmodal.html'"></div>
    <script>
  		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  		ga('create', 'UA-54475745-2', 'auto');
  		ga('send', 'pageview');

</script>
</div>
