<div ng-app="headerApp">
    <div ng-controller="headerCtrl" id="navbar">
        <nav class="{{navClassValue}}" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span>
                    </button>
                    <a href="myapp.html#/" class="navbar-brand" id="icon"><img src="images/fls-logo.png" style="width:176px" /></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar1">

                    <!-- Store Your Stuff button -->
                    <li class="nav navbar-nav" ng-if="isLoggedIn()">
                        <a href="myapp.html#/wizard" class="btn btn-primary btn-fill">Store Your Things</a>
                    </li>
                    
                    <!-- Searchbar starts here -->
                    <li class="nav navbar-nav" ng-if="showSearch && isLoggedIn()" style="margin-left:3px;margin-top:15px;margin-bottom:15px;">
                        <input class="form-control" type="text" ng-autocomplete ng-model="search.location" options="options" details="details" />
                    </li>
                    
                    <div class="nav navbar-nav col-sm-4 col-md-4" ng-if="showSearch && isLoggedIn()">
                        <div class="input-group" style="margin-left:5px;">
                            <input type="text" id="search_box" class="form-control" style="margin-top:15px;margin-bottom:15px;" ng-keypress="($event.charCode==13)?searching():return" placeholder="Search from {{item_count}} items from {{user_count}} members on FrrndLease" ng-change="searchStringChanged(search.string)" ng-model="search.string">
                            <div class="input-group-btn">
                                <a class="btn btn-primary btn-fill" id="search_button" ng-click="searching()"><i class="glyphicon glyphicon-search"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Searchbar ends here -->
                    
                    <!-- Dropdown starts here -->
                    <ul class="nav navbar-nav navbar-right">

                        <li ng-if="isAnonymous()"><a id="headerfooteroptions" onclick="ga('send', 'event', 'index', 'click', 'Login');" href="" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                        <li ng-if="isAnonymous()"><a id="headerfooteroptions" onclick="ga('send', 'event', 'index', 'click', 'Signup');" href="" data-toggle="modal" data-target="#registerModal"><span class="glyphicon glyphicon-user"></span> Signup</a></li>

                        <li ng-if="isLoggedIn()" class="btn btn-simple btn-tooltip" data-toggle="tooltip" data-placement="bottom" title="See Notifications" style="font-size:16px;{{(head.unread == 0) ? '' : 'color:black;'}}" ng-click="openNotifications()"><strong ng-if="head.unread!=0">{{head.unread + " "}}</strong><i class="fa fa-bell"></i></li>
                        
                        <li ng-if="isLoggedIn()" class="btn btn-simple btn-tooltip" style="color:#337ab7;font-size:16px;" data-toggle="tooltip" data-placement="bottom" title="See Credit History" ng-click="showCredit()"><strong>{{credits + " "}}</strong><i class="fa fa-diamond"></i></li>

                        <li ng-if="isLoggedIn()" class="dropdown">
                            <a href="" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"> 
                                <b>{{salutation}}</b>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li><a href="myapp.html#/mypostings"><i class="glyphicon glyphicon-phone"></i> MyPostings </a></li>
                                <li><a href="myapp.html#/mywishlists"><i class="glyphicon glyphicon-heart-empty"></i> MyWishList </a></li>
                                <li><a href="myapp.html#/myincomingrequests"><i class="glyphicon glyphicon-inbox"></i> MyIncomingRequests </a></li>
                                <li><a href="myapp.html#/myoutgoingrequests"><i class="glyphicon glyphicon-road"></i> MyOutgoingRequests </a></li>
                                <li><a href="myapp.html#/myleasedoutitems"><i class="glyphicon glyphicon-gift"></i> MyLeasedOutItems </a></li>
                                <li><a href="myapp.html#/myleasedinitems"><i class="glyphicon glyphicon-shopping-cart"></i> MyLeasedInItems </a></li>
                                <li><a href="myapp.html#/myfriendslist"><i class="glyphicon glyphicon-user"></i> MyFriends </a></li>
                                <li><a href="myapp.html#/myprofile"><i class="glyphicon glyphicon-list-alt"></i> MyProfile </a></li>
                                <li ng-click="logout()"><a href="#"><i class="glyphicon glyphicon-log-out"></i> Logout </a></li>
                            </ul>
                        </li>

                    </ul>
                    <!-- Dropdown ends here -->
                    
                </div>
            </div>
			
			<!-- sample pop up starts here-->
			<button href="#myModalTable" id="openBtn_credit" data-toggle="modal" class="btn btn-default">Modal</button>

			<div class="modal fade" id="myModalTable" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 class="modal-title">Credit History</h3>
					</div>
					<div class="modal-body">
					<!--<h5 class="text-center">Credit Timeline is as follows</h5>-->
					<table id="creditLogTable" class="table table-striped" style='table-layout:fixed;word-wrap:break-word;'>
						<thead>
							<tr>
								<th class="tablecell" style="width: 25%">Date</th>
								<th class="tablecell" style="width: 25%">Amount</th>
								<th class="tablecell" style="width: 50%">Reason</th>
							</tr>
							
						</thead>
						<tbody ng-repeat="y in creditsArray">
							<tr ng-repeat="x in y">
								<td>{{ x.credit_date }}</td>
								<td>{{ x.credit_amount }}</td>
								<td>{{ x.credit_type }}</td>
							</tr>
						</tbody>
					</table>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-default btn-fill" data-dismiss="modal" ng-click="">Cancel</button>
					<button class="btn btn-primary btn-fill" style="text-align: end;margin-top: 0%;" id="next_credits" ng-model="showNext" ng-if="showNext == true" ng-click="loadNextCredit()">Show More</button>
					</div>
							
				</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- sample pop up ends here-->
			
			 <!-- Code for Success banner the alert notification which will be closed in 5 seconds -->
			<div class="alert alert-success ng-hide" ng-show="bannerVal">
            <div class="container">{{successBanner}}</div>
			</div>
			
        </nav>
		
    </div>
    <div ng-include="'loginmodal.html'"></div>
    <div ng-include="'signupmodal.html'"></div>
    <script>
  		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  		ga('create', 'UA-54475745-2', 'auto');
  		ga('send', 'pageview');

</script>
</div>
