<div ng-app="headerApp">
    <div ng-controller="headerCtrl" id="navbar">
        <nav class="{{navClassValue}} navbar-transparent" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span>
                    </button>
                    <a href="myapp.html#/" class="navbar-brand" id="icon"><b>frrndLease</b></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar1">

                    <!-- Dropdown starts here -->
                    <ul class="nav navbar-nav navbar-right">
                        
                        <!-- Store Your Stuff button -->
                        <li ng-if="isLoggedIn()">
                            <a ng-click="storeYourStuff()" class="btn btn-primary">StoreYourStuff</a>
                        </li>
                        
                        <!-- Searchbar starts here -->
                        <li ng-if="showSearch">
                            <input class="btn" ng-autocomplete ng-model="search.location" options="options" details="details" />
                        </li>
                        <li ng-if="showSearch">
                            <input class="btn" type="text" ng-change="searchStringChanged(search.string)" ng-model="search.string" placeholder="Search from {{item_count}} items from {{user_count}} members on Frrndlease" size="45">
                        </li>
                        <li ng-if="showSearch">
                            <a href="myapp.html#/" class="btn btn-primary" ng-click="search()"><span class="glyphicon glyphicon-search"></span></a>
                        </li>
                        <!-- Searchbar ends here -->
                        
                        <li ng-if="isAdmin()"><a id="headerfooteroptions" href="adminPage.html"><span class="glyphicon glyphicon-home"></span> Admin</a></li>

                        <li ng-if="isAnonymous()"><a id="headerfooteroptions" href="mylogin.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                        <li ng-if="isAnonymous()"><a id="headerfooteroptions" href="mysignup.html"><span class="glyphicon glyphicon-user"></span> Signup</a></li>

                        <li ng-if="isLoggedIn()" class="navbar-brand" style="color:#337ab7;font-size:14px;"><strong>{{credits}}</strong></li>

                        <li ng-if="isLoggedIn()" class="dropdown">
                            <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"> 
                                <b>{{salutation}}</b>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li><a href="myapp.html#/mypostings"><i class="glyphicon glyphicon-phone"></i> MyPostings </a></li>
                                <li><a href="myapp.html#/mywishlists"><i class="glyphicon glyphicon-heart-empty"></i> MyWishList </a></li>
                                <li><a href="myapp.html#/myincomingrequests"><i class="glyphicon glyphicon-inbox"></i> MyIncomingRequests </a></li>
                                <li><a href="myapp.html#/myoutgoingrequests"><i class="glyphicon glyphicon-road"></i> MyOutgoingRequests </a></li>
                                <li><a href="myapp.html#/myleasedoutitems"><i class="glyphicon glyphicon-gift"></i> MyLeasedOutItems </a></li>
                                <li><a href="myapp.html#/myleasedinitems"><i class="glyphicon glyphicon-shopping-cart"></i> MyLeasedInItems </a></li>
                                <li><a href="myapp.html#/myfriendslist"><i class="glyphicon glyphicon-user"></i> MyFriends </a></li>
                                <li><a href="myapp.html#/myprofile"><i class="glyphicon glyphicon-list-alt"></i> MyProfile </a></li>
                                <li ng-click="logout()"><a href="#"><i class="glyphicon glyphicon-log-out"></i> Logout </a></li>
                            </ul>
                        </li>

                    </ul>
                    <!-- Dropdown ends here -->
                    
                </div>
            </div>
        </nav>
    </div>
</div>