<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Meta tags For Facebook start here-->
    <meta property="og:title" content="FrrndLease" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="images/fls_cover_image.jpg" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
    <meta property="og:url" content="https://www.frrndLease.com/" />
    <meta property="og:description" content="The Doorstep Library of Things" />
    <!--Meta tags For Facebook end here-->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1074096639539-cect2rfj254j3q1i5fo7lmbfhm93jg34.apps.googleusercontent.com">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>FrrndLease - The Doorstep Library of Things</title>

    <link rel="shortcut icon" href="images/fls-favicon.ico" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="css/index.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/gsdk.min.css" rel="stylesheet">

</head>

<body onload="start()" style="background-image: url('images/bluebackground.jpg');">

    <div id="marketingpanel">
        <!--header starts---------------------------------------->
        <div ng-include="'header.html'"></div>
        <!--header ends----------------------------------------->

        <div ng-controller="indexCtrl">
            <div id="marketingheading"><strong>MAKE SPACE FOR LIFE</strong></div>
            <div id="marketingline"><strong>The Doorstep Library of Things</strong></div>

            <div id="marketingstore">
                <button ng-click="storeYourStuff()" onclick="ga('send', 'event', 'index', 'click', 'StoreYourThings');" id="storebutton" class="btn btn-success btn-fill">FREE Storage For Your Things</button>
            </div>
            <br><br><br><br><br><br>
            <div id="marketingsearch">
            </div>

            <div id="wishbox">
                <div id="searchbox" class="input-group">
                    <div>
                        <input class="form-control" style="width:30%;" ng-autocomplete ng-model="search.location" options="options" details="details" />
                        <input id="wish_title" style="width:70%;" type="text" ng-keypress="($event.charCode==13)?searching():return" ng-change="searchStringChanged(search.string)" ng-model="search.string" class="form-control" placeholder="I want to rent a ... " name="wish_title1" size="45">
                    </div>

                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-fill" ng-click="searching()" id="search_btn_home"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </div>
        </div>

    </div>


    <div ng-include="'benefitsdiv.html'">
        <!--Benefits section goes here -->
    </div>


    <div style="background-image: url('images/bluebackground.jpg');background-repeat:repeat;min-height:500px">
        <br />
        <div id="friendstoreline"><strong>The Friend Store</strong></div>
        <br />
        <!-- Carousel Start -->
        <div id="carousel_div">
            <div ng-include="'carousel.html'"></div>
        </div>
        <!-- Carousel End -->
    </div>

    <div class="wrapper" id="gsd_wrapper">

        <div ng-include="'howitworksdiv.html'">
            <!--How it Works section goes here -->
        </div>

        <div ng-controller="pricingCtrl">
            <div ng-include="'pricingdiv.html'">
                <!--Pricing section goes here -->
            </div>
        </div>


        <div ng-include="'aboutusdiv.html'">
            <!--About Us section goes here -->
        </div>

        <div ng-include="'teamdiv.html'">
            <!--Team section goes here -->
        </div>

        <div ng-include="'testimonialdiv.html'">
            <!--Testimonial section goes here -->
        </div>

    </div>

    <!--The tawk.to widget code will get populated here from file chatbox.html.-->
    <div id="tawk_widget"></div>

    <!--Footer starts here-->
    <div ng-include="'footer.html'" id="gsd_footer"></div>
    <!--Footer ends here-->

    <!-- "Please Wait" Modal Start here-->
    <div id="opendivmyPleaseWait" class="span4 proj-div" data-toggle="modal" data-target="#myPleaseWait" data-backdrop="static" data-keyboard="false">..</div>
    <div class="modal fade" id="myPleaseWait" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="waitheading"></h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- "Please Wait" Modal ends Here -->

    <script type="text/javascript" defer>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-54475745-2', 'auto');
        ga('send', 'pageview');

        function start() {

            footerFlag = 'collapsed';
            look_good();

            $("#opendivmyPleaseWait").hide();

            load_Gapi();

            $('body').append('<div class="popover-filter"></div>');

            $("#search_btn_home").click(function() {
                $('html,body').animate({
                        scrollTop: $("#friendstoreline").offset().top
                    },
                    'slow');
            });
        }

        function process_dialog(heading) {
            var header = document.getElementById("waitheading");
            header.innerHTML = heading;
            $("#opendivmyPleaseWait").click();
        }

        var googleUser = {};

        var load_Gapi = function() {
            gapi.load('auth2', function() {
                auth2 = gapi.auth2.init({
                    cookiepolicy: 'single_host_origin'
                });
                attachSignin(document.getElementById('customLoginBtn'));
                attachSignin(document.getElementById('customSignUpBtn'));
            });
        }

        function attachSignin(element) {
            auth2.attachClickHandler(element, {},
                function(googleUser) {
                    if (element.id == "customLoginBtn")
                        onSignIn(googleUser);
                    if (element.id == "customSignUpBtn")
                        onSignUp(googleUser);
                },
                function(error) {
                    alert(JSON.stringify(error, undefined, 2));
                }
            );
        }

        function increaseSizeOfFooter() {
            if (footerFlag == 'collapsed') {
                $('#footerpanel').height('50%');
                footerFlag = 'expanded';
            } else if (footerFlag == 'expanded') {
                $('#footerpanel').height('30%');
                footerFlag = 'collapsed';
            }

        }

        function look_good() {
            var height = $(window).height();
            var width = $(window).height();

            $("#footerpanel").css({
                'position': 'relative',
                'margin-top': -(height * 0.15) + 'px', //-10% of height
            });

            $("#footerpanel").css({
                'position': 'relative',
                'margin-top': -(height * 0.05) + 'px', //5% of height
                'bottom': '0',
            });
        }

    </script>

    <link href='https://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' media="print" onload="this.media='all';">

    <style>
        #gsd_footer {
            width: 100%;
            min-height: 70px;
            margin-top: -5px;
            padding-top: 10px;
            clear: both;
            bottom: 0;
        }
        
        #gsd_wrapper {
            width: 100%;
            min-height: 70px;
            clear: both;
            bottom: 0;
        }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!--Loading Animation code CSS & JS Links  -->
    <link href="css/animation.min.css" type="text/css" rel="stylesheet" media="print" onload="this.media='all';">
    <script src="js/jquery.backstretch.min.js" defer></script>
    <script src="js/animation.min.js" defer></script>
    <!--Loading Animation code CSS & JS Links ends here  -->

    <!-- DropDown list code-->
    <script src="js/dropdownlist.min.js" defer></script>
    <!-- DropDown list code ends-->

    <!-- Angularjs api -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" defer></script>
    <script src="js/ui-bootstrap-tpls-1.3.2.min.js" defer></script>
    <script src="js/index1.min.js" defer></script>
    <script src="js/header.min.js" defer></script>
    <script src="js/footer.min.js" defer></script>
    <script src="js/carousel.min.js" defer></script>
    <script src="js/load-image.all.min.js" defer></script>
    <script src="js/ngAutocomplete.min.js" defer></script>
    <!-- Angularjs api ends -->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script async src="js/bootstrap-select.js" defer></script>
    <script async src="js/get-shit-done.min.js"></script>
    <script async src="js/gsdk-bootstrapswitch.min.js" defer></script>
    <script async src="js/jquery.flexisel.min.js" defer></script>
    <script async src="js/jquery.tagsinput.min.js" defer></script>
    <script async src="js/jquery-ui.custom.min.js" defer></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/tawk.min.js" defer></script>
    <script src="js/bootstrap.min.js" defer></script>

    <script src="https://apis.google.com/js/api:client.js" defer></script>
    <script src="js/md5.min.js" defer></script>
    <!--for Facebook signin-->
    <script src="js/Facebook_api.js" defer></script>

    <!-- For Autocomplete Feature -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmvX5_FU3TIzFpzPYtwA6yfzSFiFlD_5g&libraries=places" defer></script>

    <!-- Google Code for Fls Signup Conversion Page
    In your html page, add the snippet and call
    goog_report_conversion when someone clicks on the
    chosen link or button. -->
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js" defer></script>
</body>

</html>
