<div ng-controller="loginModalCtrl" class="modal modal-small fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title text-center">Login With</h4>
          </div>
          <div class="modal-body">
                <div class="social-area">
                    <a href="" class="btn btn-round btn-fill btn-social btn-facebook" ng-click="facebookSignIn()">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    <a href="" class="btn btn-round btn-fill btn-social btn-google" id="gSignInWrapper">
                        <div id="customLoginBtn" class="customGPlusSignIn">
                            <i class="fa fa-google-plus-square"></i>
                        </div>
                    </a>
                </div>
                <span class="divider"> or </span>

              <p id="login_error" ng-if="error != ''" style="color:red;padding:10px;">{{error}}</p>
            <form name="form" style="text-align: center;">
                <div class="form-group">
                    <input name="userId" class="form-control" ng-model="userId" ng-pattern="/^([_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,5}))|(\d+$)$/" ng-change="error=''" placeholder="Email or Phone" required autofocus/>
                </div>
                <div class="form-group">
                    <input name="password" type="password" id="password" class="form-control" ng-change="error=''" ng-model="password" placeholder="Password" />
                </div>
                <button type="button" class="btn btn-primary btn-fill btn-block" ng-click="(form.userId.$touched && form.userId.$valid && form.password.$touched && form.password.$valid) ? formLogin(userId, password) : error='Please Enter correct user id and password'"> Login </button>
                <button class="btn btn-default btn-simple" ng-click="(form.userId.$touched && form.userId.$valid) ? forgotPassword(userId) : error='Please enter the registered User Id'"><u>Forgot Password??</u></button>
            </form>
          </div>
        </div>
      </div>
    </div>