<div ng-controller="loginModalCtrl" class="modal modal-small fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title text-center">Login With</h4>
          </div>
          <div class="modal-body">
                <div class="social-area">
                    <a href="" class="btn btn-round btn-fill btn-social btn-facebook" ng-click="facebookSignIn()">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    <a href="" class="btn btn-round btn-fill btn-social btn-google" id="gSignInWrapper">
                        <div id="customLoginBtn" class="customGPlusSignIn">
                            <i class="fa fa-google-plus-square"></i>
                        </div>
                    </a>
                </div>
                <span class="divider"> or </span>

              <p id="login_error" ng-if="error != ''" style="color:red;padding:10px;">{{error}}</p>
            <form name="form" style="text-align: center;">
                <div class="form-group">
                    <input name="email" type="email" id="email" class="form-control" ng-change="error=''" ng-model="email" placeholder="Email" required autofocus/>
                </div>
                <div class="form-group">
                    <input name="password" type="password" id="password" class="form-control" ng-change="error=''" ng-model="password" placeholder="Password" />
                </div>
                <button type="button" class="btn btn-primary btn-fill btn-block" ng-click="(form.email.$touched && form.email.$valid && form.password.$touched && form.password.$valid) ? formLogin(email, password) : error='Please Enter correct email and password'"> Login </button>
                <button class="btn btn-default btn-simple" ng-click="(form.email.$touched && form.email.$valid) ? forgotPassword(email) : error='Please enter the registered email'"><u>Forgot Password??</u></button>
            </form>
          </div>
        </div>
      </div>
    </div>