<div class="container-fluid" id="midcontainer" ng-cloak>
    
    <div class="row">
        <div class="left_title col-lg-2 col-md-2">
            <strong>My Friends</strong>
        </div>
        <div class="right_title col-lg-10 col-md-10">
            <a class="btn btn-primary btn-simple" ng-click="importfb()"><u>Invite Facebook Friends</u></a>
			 <a class="btn btn-primary btn-simple" ng-click="importgoogle()"><u>Add Gmail Friends</u></a>
            <a class="btn btn-primary btn-simple" ng-click="directImport()"><u>Add by Email</u></a>
        </div>
	</div>
    
    <hr /><br /><br />
    
    <h4 ng-if="friends.length == 0">You have not connected with your friends on fRRndLease. Add or import your contacts to have access to their posted items.</h4>
    
    <div class="row">
        <div class="card card-user col-lg-3 col-md-3" style="margin-right:10px;margin-left:10px" ng-repeat="friend in friends" style="box-shadow: 0 4px 4px rgba(0, 0, 0, 0.23);">
            <div class="image">
            </div>
            <div class="content">
                <div class="author">
                    <a>
                        <img class="avatar border-gray" src="images/user_icon.png" alt="...">
                        <h4 class="title">{{friend.fullName}}<br>
                            <small></small>
                        </h4>
                    </a>
                </div>
                <p class="description text-center">
                    <i class="fa fa-phone"></i>{{(friend.mobile == '-') ? "No Mobile" : friend.mobile}}<br>
                    <i class="fa fa-envelope"></i>{{(friend.friendId == '-') ? "No Email Id" : friend.friendId}}<br>
                </p>
            </div>
            <hr>
            <div class="text-center">
                <button href="" class="btn btn-social btn-facebook btn-simple" ng-click="showFriendDetails($index)"><i class="fa fa-edit"></i></button>
            </div>
        </div>
    </div>
	
	<!-- sample pop up starts here-->
			<button href="#myModalTable" id="openBtn" data-toggle="modal" class="btn btn-default">Modal</button>

			<div class="modal fade" id="myModalTable">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 class="modal-title">Import Google Contacts</h3>
					</div>
					<div class="modal-body">
					<h5 class="text-center">Please Select the Google Contacts you want to Import</h5>
					<table id="friendsoptionstable" class="table table-striped" style='table-layout:fixed;word-wrap:break-word;'>
						<thead>
							<tr>
								<th class="tablecell" style="width: 50%">Email</th>
								<th class="tablecell" style="width: 15%">Name</th>
								<th class="tablecell" style="width: 25%">Mobile</th>
								<th class="tablecell" style="width: 12%">Import</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-default btn-fill" data-dismiss="modal" ng-click="">Cancel</button>
					<button class="btn btn-primary btn-fill" id="addcheckedfriends1" ng-click="add_checked_friends()">Save Selected Friends</button>
					</div>
							
				</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- sample pop up ends here-->
</div>