<div class="container-fluid" id="midcontainer" ng-cloak>

    <div class="row">
        <div class="left_title col-lg-2 col-md-2">
            <strong>My Friends</strong>
        </div>
        <div class="right_title col-lg-10 col-md-10">
            <a class="btn btn-primary btn-simple" ng-click="importfb()"><u>Invite Facebook Friends</u></a>
            <a class="btn btn-primary btn-simple" ng-click="importgoogle()"><u>Add Gmail Friends</u></a>
            <a class="btn btn-primary btn-simple" ng-click="directImport()"><u>Add by Email</u></a>
        </div>
    </div>

    <hr /><br /><br />

    <h4 ng-if="friends.length == 0">You have not connected with your friends on FrrndLease. Add or import your contacts to have access to their posted items.</h4>

    <div class="row">
        <div class="card card-user col-lg-3 col-md-3" style="margin-right:10px;margin-left:10px" ng-repeat="friend in friends" style="box-shadow: 0 4px 4px rgba(0, 0, 0, 0.23);">
            <div class="image">
            </div>
            <div class="content">
                <div class="author">
                    <a>
                        <img class="avatar border-gray" ng-src="{{(friend.friendPicture === '' || friend.friendPicture === null || friend.friendPicture === NULL || friend.friendPicture === 'null') ? 'images/user_icon.png' : friend.friendPicture}}" alt="...">
                        <h4 class="title">{{friend.fullName}}<br>
                            <small></small>
                        </h4>
                    </a>
                </div>
                <p class="description text-center">
                    <i class="fa fa-phone"></i>{{(friend.mobile == '-')||(friend.mobile == null) ? "No Mobile" : friend.mobile}}<br>
                    <i class="fa fa-envelope"></i>{{(friend.friendId == '-') ? "No Email Id" : friend.friendId}}<br>
                    <span class="label label-fill ng-class:{'label-success':(friend.status=='signedup'),'label-danger':(friend.status=='pending')}" style="text-align:center;">{{friend.status}}</span>
                </p>
            </div>
            <hr>
            <div class="text-center">
                <button class="btn btn-social btn-facebook btn-simple btn-tooltip" ng-click="editFriend($index)" data-toggle="tooltip" data-placement="top" title="Edit Details" tooltip>
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <button ng-if="friend.status == 'signedup'" class="btn btn-social btn-facebook btn-simple btn-tooltip" send-message-to="friend.friendId" data-toggle="tooltip" data-placement="top" title="Send Message" tooltip>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </button>
                <button ng-if="friend.status == 'pending'" class="btn btn-social btn-facebook btn-simple btn-tooltip" ng-click="reinviteFriend($index)" data-toggle="tooltip" data-placement="top" title="Send Reinvite" tooltip>
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
                <button class="btn btn-social btn-facebook btn-simple btn-tooltip" ng-click="deleteFriend($index)" data-toggle="tooltip" data-placement="top" title="Delete Friend" tooltip>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <!--Modal to populate gmail friends-->
    <button href="#myModalTable_gmail" id="openBtn_gmail" data-toggle="modal" class="btn btn-default">Modal</button>

    <div class="modal fade" id="myModalTable_gmail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Import Google Contacts</h3>
                </div>
                <div class="modal-body">
                    <h5 class="text-center">Please Select the Google Contacts you want to Import</h5>
                    <table id="friendsoptionstable" class="table table-striped" style='table-layout:fixed;word-wrap:break-word;'>
                        <thead>
                            <tr>
                                <th class="tablecell" style="width: 50%">Email</th>
                                <th class="tablecell" style="width: 15%">Name</th>
                                <th class="tablecell" style="width: 25%">Mobile</th>
                                <th class="tablecell" style="width: 12%">Import</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-fill" data-dismiss="modal" ng-click="">Cancel</button>
                    <button class="btn btn-primary btn-fill" id="addcheckedfriends1" ng-click="add_checked_friends()">Save Selected Friends</button>
                </div>

            </div>
        </div>
    </div>
    
</div>