<div class="container-fluid" id="midcontainer" ng-cloak>
    <div id="heading"><strong>My Friends</strong></div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        </div>
        
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <span class="addImport"><span class="btn btn-primary" ng-click="addFriend()">Add Friend</span></span>
        </div>
        
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <span class="addImport"><span class="btn btn-primary" ng-click="importFriend()">Import Friends</span></span>
        </div>
    </div>
    <br />
    <table id="friendstable" class="table table-striped">
        <thead>
            <tr>
                <th class="tablecell">Name</th>
                <th class="tablecell">Mobile</th>
                <th class="tablecell">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="friend in friends">
                <td class="tablecellName" ng-click="showFriendDetails($index)">{{friend.fullName}}</td>
                <td class="tablecellMobile">{{friend.mobile}}</td>
                <td class="tablecellEmail">{{friend.friendId}}</td>
            </tr>
        </tbody>
    </table>
    <h4 ng-if="friends.length == 0">You have not connected with your friends on fRRndLease. Add or import your contacts to have access to their posted items.</h4>
</div>