<div class="container-fluid" id="midcontainer">
    <div id="heading"><strong>My Incoming Requests List</strong></div>
    <div class="row">
        <div id="topcolleft" class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
    </div>
    <br />
    <table id="requesttable" class="table table-striped">
        <thead>
            <tr>
                <th class="tablecell" style="text-align:left;">Date</th>
                <th class="tablecell" style="text-align:center;">Item</th>
                <th class="tablecell" style="text-align:center;">Friend</th>
                <th class="tablecell" style="text-align:center;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="request in requests">
                <td style="width:15%;text-align:left;" class="tablecell">{{request.requestDate}}</td>
                <td style="width:40%;text-align:center;" id="{{request.itemNextId}}" ng-click="showItemDetails(request.uid)" class="tablecellItem">{{request.title}}</td>
                <td style="width:25%;text-align:center;" id="{{request.itemNextId}}" class="tablecellFriend">{{request.requestUserName}}</td>
                <td style="width:20%;text-align:center;" class="tablecellAction">
                    <span ng-click="grantLease(request.requestItemId,request.requestorId)">
                        <span class="btn btn-primary" style="margin-top: 5px;margin-left: 10px;" id="">Accept</span>
                    </span>
                    <span ng-click="rejectLease(request.requestItemId,request.requestorId)">
                        <span class="btn btn-primary" style="margin-top: 5px;margin-left: 10px;" >Delete</span>
                    </span>
                    <span class="think">
                        <span class="btn btn-primary" style="margin-top: 5px;margin-left: 10px;" id="{{request.itemNextId}}">Renew</span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <h4 ng-if="requests.length == 0">You have no Incoming Requests. Post more items to the Store</h4>
</div>