<div class="container-fluid" id="midcontainer">
    
    <div class="row">
        <div class="left_title col-lg-6 col-md-6">
            <strong>My Incoming Requests List</strong>
        </div>
	</div>
    
    <hr /><br /><br />
    
    <h4 ng-if="requests.length == 0">You have no Incoming Requests. Post more items to the Store</h4>
    
    <div class="card" ng-repeat="request in requests">
        <div class="container-fluid">
           <div class="row" style="display:flex;flex-wrap:wrap;padding:20px;">
               <div class="col-md-6" style="border-right:thin solid #eee;">
                   <div class="container-fluid">
                        <div class="row" style="display:flex;flex-wrap:wrap;">
                            <div class="col-md-8">
                                <img class="img-rounded" load-image="request.primaryImageLink" ng-src="" alt="..."/>
                            </div>
                            <div class="col-md-4">
                               <div class="container-fluid">
                                   <div class="row">
                                       <h3><strong>{{request.title}}</strong></h3>
                                   </div>
                                   <div class="row" style="text-align:center;margin-top:20%;">
                                       <h5>{{request.description}}</h5>
                                   </div>
                               </div>
                            </div>
                        </div>
                        <div class="row" style="text-align:center;margin-top:10%;">
                            <div class="col-md-3">
                                <div class="info btn-tooltip" data-toggle="tooltip" data-placement="top" title="Category" tooltip>
                                    <div class="icon icon-sm">
                                        <i class="fa fa-filter" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <h5>{{request.category}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info btn-tooltip" data-toggle="tooltip" data-placement="top" title="Location" tooltip>
                                    <div class="icon icon-sm">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <h5>{{request.sublocality}}, {{request.locality}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info btn-tooltip" data-toggle="tooltip" data-placement="top" title="Lease Term" tooltip>
                                    <div class="icon icon-sm">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <h5>{{request.leaseTerm}} Lease</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info btn-tooltip" data-toggle="tooltip" data-placement="top" title="Reasonable Replacement Value" tooltip>
                                    <div class="icon icon-sm">
                                        <i class="fa fa-rupee" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <h5>{{request.insurance}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
               </div>
               <div class="col-md-3" ng-repeat="req in request.requests">
<!--                    <div class="row" style="text-align:center;"><h4><strong>Requests - </strong></h4></div>-->
                    <div class="card card-user">
                        <div class="image image-plain">
                        </div>
                        <div class="content">
                            <div class="author">
                                <a href="">
                                    <img class="avatar border-gray" ng-src="{{(req.requestorProfilePic === '' || req.requestorProfilePic === null || req.requestorProfilePic === NULL || req.requestorProfilePic === 'null') ? 'images/user_icon.png' : req.requestorProfilePic}}" alt="Profile Pic">
                                    <h4 class="title">{{req.requestorName}}<br>
                                        <small>
                                            <div ng-if="req.friend">
                                                <i class="fa fa-handshake-o"></i> Is Friend
                                            </div>
                                            <div ng-if="!req.friend">
                                                <i class="fa fa-users"></i> Is Member
                                            </div>
                                        </small>
                                    </h4>
                                </a>
                            </div>
                            <p class="description text-center">
                                <i class="fa fa-map-marker text-muted"></i>&nbsp;{{req.distance == '0m' ? 'Under 1km' : req.distance}}&nbsp;-&nbsp;{{req.requestorSublocality+","+req.requestorLocality}}<br>
                                <span class="text-muted" ng-if="req.requestorMessage!=null" style="cursor:pointer;" data-toggle="popover" title="Requestor says - " data-placement="top" data-content="{{req.requestorMessage}}" popover>
                                    <i class="fa fa-quote-left" aria-hidden="true"></i> {{req.requestorMessage | limitTo: 15}}<span ng-if="req.requestorMessage.length > 15">&hellip;</span> <i class="fa fa-quote-right" aria-hidden="true"></i>
                                </span>
                            </p>
                        </div>
                        <div class="description text-center">
                            <i class="fa fa-calendar" aria-hidden="true"></i> {{req.requestDate | date}}
                        </div>
                        <hr>
                        <div class="text-center">
                            <button data-toggle="tooltip" data-placement="top" title="Grant Lease" class="btn btn-success btn-simple btn-icon btn-tooltip" ng-click="grantLease(request.itemId,req.requestorId,$index)" tooltip>
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                            <button data-toggle="tooltip" data-placement="top" title="Reject Request" class="btn btn-danger btn-simple btn-icon btn-tooltip" ng-click="rejectLease(request.itemId,req.requestorId,$index)" tooltip>
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <button data-toggle="tooltip" data-placement="top" title="Send Message" class="btn btn-social btn-simple btn-icon btn-tooltip" ng-click="sendMessage(request.itemId,req.requestorId)" tooltip>
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
