<div class="container-fluid" id="midcontainer" ng-cloak>
    <div id="heading"><strong>My Leased Out Items</strong></div>
    <table id="leasetable" class="table table-striped">
        <thead>
            <tr>
                <th class="tablecell" style="text-align:left;">Date</th>
				<th class="tablecell" style="text-align:center;">Item</th>
				<th class="tablecell" style="text-align:center;">ReqUserId</th>
				<th class="tablecell" style="text-align:center;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lease in leases">
                <td style="width:15%;text-align:left;" class="tablecell">{{lease.expiry}}</td>
                <td style="width:40%;text-align:center;" id="{{lease.itemId}}" ng-click="showItemDetails(lease.uid)" class="tablecellItem">{{lease.itemTitle}}</td>
                <td style="width:25%;text-align:center;" id="{{lease.itemId}}" class="tablecellFriend">{{lease.ownerName}}</td>
                <td style="width:20%;text-align:center;" class="tablecellAction">
                    <span class="remove" ng-click="closeLease(lease.itemNextId)">
                        <span class="btn btn-primary" style="margin-top: 5px;margin-left: 10px;" id="{{lease.itemNextId}}">Close</span>
                    </span>
                    <span class="renew" ng-click="renewLease(lease.itemNextId)">
                        <span class="btn btn-primary" style="margin-top: 5px;margin-left: 10px;" id="{{lease.itemNextId}}">Renew</span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <h4 ng-if="leases.length == 0">You have no items leased out to friends. 
        <a href="#/myincomingrequests">Check your Incoming Requests to lease them out.</a>
    </h4>
</div>