<div class="container-fluid" id="midcontainer">
    
    <div class="row">
        <div class="left_title col-lg-6 col-md-6">
            <strong>My Outgoing Requests List</strong>
        </div>
	</div>
    
    <hr /><br /><br />

    <h4 ng-if="requests.length == 0">You have no Outgoing Requests. Request items from the Store</h4>
    
    <div class="row" ng-repeat="request in requests">
        <div class="col-lg-1 col-md-1"></div>
        <div class="card col-lg-10 col-md-10" style="box-shadow: 0 4px 4px rgba(0, 0, 0, 0.23);">
            <div class="row" style="display: flex;flex-wrap: wrap;">
                <div class="col-lg-4 col-md-4 col-sm-4" href="" ng-click="showItemDetails(request.uid)">
                   <a class="image">
                      <img class="img-rounded" load-image="request.imageLink" ng-src="" alt="..."/>
                   </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                   <div class="content">
                       <a class="card-link" href="" ng-click="showItemDetails(request.uid)">
                          <h5 class="title">{{request.title}}</h5>
                       </a>
                       <a class="card-link">
                          <p class="description">{{request.desc}}</p>
                       </a>
                       <a class="footer">
                          <div class="stats btn-tooltip" data-toggle="tooltip" data-placement="top" title="Category">
                              <div class="card-link">
                                  <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{request.category}}
                              </div>
                          </div>
                          <div class="stats btn-tooltip" data-toggle="tooltip" data-placement="top" title="Lease Term">
                              <div class="card-link">
                                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{request.leaseTerm}}
                              </div>
                          </div>
                          <div class="stats btn-tooltip" data-toggle="tooltip" data-placement="top" title="Resonable Replacement Value">
                              <div class="card-link">
                                  <span class="fa fa-rupee" aria-hidden="true"></span> {{request.leaseValue}}
                              </div>
                          </div>
                       </a>
                   </div>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-3" style="text-align:center;border-left: thin solid #eee;border-right: thin solid #eee;">
                  <div class="content" style="text-align:center;">
                      <a class="card-link">
                         <span class="label label-default label-fill">Owner</span>
                       </a>
                      <br/>
                      <a class="card-link">
                          <img src="images/user_icon.png" alt="Profile Pic" style="width:50px;height:50px; padding:5px;" class="img-circle">
                      </a>
                      <a class="card-link">
                         <p class="description">{{request.owner_name}}</p>
                      </a>
                      <a class="card-link">
                         <p class="description">{{request.owner_sublocality}}</p>
                      </a>
                      <a class="card-link">
                         <p class="description">{{request.owner_locality}}</p>
                      </a>
                  </div>
               </div>
               <div class="col-lg-2 col-md-2 col-sm-2">
                   <div class="content" style="text-align:center;">
                       <a class="card-link">
                         <span class="label label-default label-fill">Requested At</span>
                       </a>
                       <br/>
                       <a class="card-link">
                           <p class="description">{{request.request_date | date}}</p>
                       </a>
                       <a class="card-link" href="">
                           <button ng-click="deleteRequest(request.request_id,$index)" class="btn btn-primary btn-simple">Delete</button>
                       </a>
                   </div>
               </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1"></div>
    </div>
    
</div>