<div class="container-fluid" id="midcontainer">
    <div id="heading">
        <strong>My Profile</strong>
	</div>
	<br />
	<div class="form-group">
        <label for="userId">User Id</label>
        <input type="text" class="form-control" id="userId" ng-model="userId" placeholder="Email" disabled>
    </div>
	<div class="form-group">
        <label for="fullname">Full Name</label>
        <input type="text" class="form-control" id="fullname" ng-change="isChanged()" ng-model="fullname" placeholder="Full name">
	</div>
	<div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="text" class="form-control" id="mobile" ng-change="isChanged()" ng-model="mobile" placeholder="Mobile">
	</div>
	<div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" ng-change="isChanged()" ng-model="location" ng-autocomplete options="options" details="details" placeholder="Location">
    </div>
	<div class="form-group">
		<label for="userId">Credit</label>
        <input type="text" class="form-control" id="credit" ng-model="credit" placeholder="Credits" disabled>
	</div>
	<button class="btn btn-primary btn-lg" ng-click="updateProfile()">Update</button>
</div>