<div class="container-fluid" id="midcontainer">
    <div id="heading">
        <strong>My Profile</strong>
	</div>
	<br />
    <div class="col-lg-3 col-md-3"></div>
        <div class="card-user col-lg-6 col-md-6" style="padding-top:50px">
            <div class="content">
                <div class="author">
<!--                    <img class="avatar" src="images/fls-logo.png" alt="..."/>-->
                      <h4 class="title"><br />
                         <small></small>
                      </h4>
                </div>
                <div class="form-horizontal" ng-init="error = ''">
					<div class="form-group">
						<div class="col-sm-10">
						<img class="avatar border-gray" ng-model="profilePic" ng-src="{{(profilePic === '' || profilePic === null || profilePic === NULL || profilePic === 'null') ? 'images/user_icon.png' : profilePic}}"  alt="User Profile Picture" style="margin-left:50%;">
						</div>
					</div>
					<div class="form-group">
                        <label for="userId" class="col-sm-2 control-label">User Id</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="userId" ng-model="userId" placeholder="Email" disabled>
								<span class="label label-warning label-fill" ng-model="label" ng-if="label == false">Not Verified</span>
								<span class="label label-success label-fill" ng-model="label" ng-if="label == true">Verified</span>
							</input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fullname" class="col-sm-2 control-label">Full Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="fullname" ng-change="(fullname != '') ? error='' : error='Name is required'" ng-model="fullname" placeholder="Full name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mobile" class="col-sm-2 control-label">Mobile</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="mobile" ng-model="mobile" ng-change="(mobile.length == 10) ? error='' : error='Mobile number must have 10 digits'" placeholder="Mobile">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location" class="col-sm-2 control-label">Location</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="location" ng-change="(location != '') ? error='' : error='Location is required'" ng-model="location" ng-autocomplete options="options" details="details" placeholder="Location">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="userId" class="col-sm-2 control-label">Credit</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="credit" ng-model="credit" placeholder="Credits" disabled>
                        </div>
                    </div>
					<div class="form-group">
                        <label for="referralCode" class="col-sm-2 control-label">Referral Code</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="referralCode" ng-model="referralCode" placeholder="Referral Code" disabled>
                        </div>
                    </div>
					<div class="form-group">
						<label for="item_image" id="image_label" class="col-sm-2 control-label">Add Id Proof</label>
						<div class="col-sm-10">
							<input type="file" class="form-control" accept="image/jpeg" id="ifile" ng-model="ifile">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<canvas id="panel" ng-model="panel" width="300" height="300" style=" display: table;margin: 0 25%;margin-bottom:10px;"></canvas>
						</div>
					</div>
                </div>
                <span ng-if="error != ''" style="color:red;padding:10px;">{{error}}</span>
            </div>
            <div class="text-center">
                <button class="btn btn-primary btn-fill" ng-click="(error == '') ? updateProfile() : error='Please enter correct data!!'">Save</button>
                <button class="btn btn-primary btn-simple" ng-click="cancel()">Cancel</button></br></br>
				 <a class="btn btn-primary btn-simple" ng-click="showCredit()"><u>Show Credit Timeline</u></a>
            </div>
        </div>
    <div class="col-lg-3 col-md-3"></div>
	
	<!-- sample pop up starts here-->
			<button href="#myModalTable" id="openBtn" data-toggle="modal" class="btn btn-default">Modal</button>

			<div class="modal fade" id="myModalTable" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 class="modal-title">Credit Timeline</h3>
					</div>
					<div class="modal-body">
					<h5 class="text-center">Credit Timeline is as follows</h5>
					<table id="creditLogTable" class="table table-striped" style='table-layout:fixed;word-wrap:break-word;'>
						<thead>
							<tr>
								<th class="tablecell" style="width: 50%">Credit Date</th>
								<th class="tablecell" style="width: 25%">Credit Operation</th>
								<th class="tablecell" style="width: 25%">Credit Type</th>
							</tr>
							
						</thead>
						<tbody ng-repeat="y in creditsArray">
							<tr ng-repeat="x in y">
								<td>{{ x.credit_date }}</td>
								<td>{{ x.credit_amount }}</td>
								<td>{{ x.credit_type }}</td>
							</tr>
						</tbody>
					</table>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-default " data-dismiss="modal" ng-click="">Cancel</button>
					<button class="btn btn-primary" id="next_credits" ng-model="showNext" ng-if="showNext == true" ng-click="loadNextCredit()">Show More</button>
					</div>
							
				</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- sample pop up ends here-->
</div>