<div class="container-fluid" id="midcontainer">
    <div class="row">
        <div class="left_title col-lg-6 col-md-6">
            <strong>Post Item</strong>
        </div>
	</div>
    
    <hr /><br /><br />
    <div class="row" style="display: flex;flex-wrap: wrap;">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-5 col-md-5 loaded-img">
            <img load-image="item.primaryImageLink" max-width="450" max-height="450" ng-src="" alt="Primary Pic">
            <div ng-if="item.primaryImageLink=='loading'" class="loading-actions">
                <div class="loading-image">
                    <i class="fa fa-refresh fa-spin" aria-hidden="true" width="150" height="150" style="display:initial;"></i> Please Wait..
                </div>
            </div>
            <div ng-if="item.primaryImageLink!='loading'" class="actions">
                <label class="primary-file-input-label" for="primary-file-input">
                    <i class="fa fa-image" aria-hidden="true" width="150" height="150" style="display:initial;"></i> Change Image
                </label>
                <input id="primary-file-input" type="file" accept="image/*" onchange="angular.element(this).scope().uploadPrimaryImage(files[0])" style="display:none;" />
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div ng-if="images.length != 0">
                <div class="loaded-img" ng-repeat="image in images">
                    <img load-image="image.data" max-width="150" max-height="150" ng-src="" alt="..."/>
                    <div class="actions">
                        <button type="button" class="btn btn-danger btn-simple" ng-click="deleteImage($index)">
                            <i class="fa fa-times"></i> Delete
                        </button>
                    </div>
                </div>
            </div>
            <div ng-if="images.length < 6">
                <label for="file-input">
                    <i class="fa fa-camera btn" aria-hidden="true" width="150" height="150" style="display:initial;padding:10px;"></i>
                </label>
                <input id="file-input" type="file" upload-images="images" style="display: none;" />
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg-3 col-md-3"></div>
        <div class="col-lg-6 col-md-6">
            <form class="form-horizontal" style="text-align: center;">
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" id="postItem_title" class="form-control" ng-model="item.title" placeholder="Enter Title" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="category" class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-10">
                        <div class="input-group-btn" ng-init="item.category='House'">
                            <button type="button" class="btn btn-default btn-simple dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"required> {{item.category}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" style="text-align:center;">
                                <li><a href="" ng-repeat="c in categories" ng-click="categorySelected(c)">{{c}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lease_value" class="col-sm-2 control-label">Lease Value</label>
                    <div class="col-sm-10" ng-init="item.leaseValue=1000">
                        <input type="number" class="form-control" ng-model="item.leaseValue" placeholder="Lease Value">
                    </div>
                </div>
                <div class="form-group">
                    <label for="category" class="col-sm-2 control-label">Lease Term</label>
                    <div class="col-sm-10">
                        <div class="input-group-btn" ng-init="item.leaseTerm='Annual'">
                            <button type="button" class="btn btn-default btn-simple dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"required> {{item.leaseTerm}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" style="text-align:center;">
                                <li><a href="" ng-repeat="l in leaseTerms" ng-click="leaseTermSelected(l)">{{l}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label  for="description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10" >
                        <textarea ng-model="item.description" style="margin-bottom:5%;" class="form-control" id="description" placeholder="Add Description"></textarea>
                    </div>
                </div>
            </form>
            <div class="row" style="padding:20px;">
                <div ng-if="!editable" class="col-lg-3 col-md-3 col-md-offset-2" >
                    <button id="post_item_button"  class="btn btn-primary btn-fill" ng-click="postItem()">Add Item</button>
                </div >
                <div ng-if="editable" class="col-lg-3 col-md-3 col-md-offset-2" >
                    <button class="btn btn-primary btn-fill" ng-click="editItem()">Edit Item</button>
                </div >
                <div class="col-lg-3 col-md-3 col-md-offset-1">
                    <button class="btn btn-default btn-fill" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3"></div>
    </div>
</div>