<div class="container-fluid" id="midcontainer" ng-cloak>
    
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-social btn-fill btn-facebook" ng-click="importfb()">
                <i class="fa fa-facebook"></i> Invite Facebook Friends (Earn 10 credits for the first use)
            </button><br/><br/>
            <button class="btn btn-social btn-fill btn-google" ng-click="importgoogle()">
                <i class="fa fa-google-plus"></i> Add Gmail Friends (Earn 1 credit for each email invitation)
            </button><br/><br/>
            <button class="btn btn-info btn-fill" ng-click="directImport()">
                <i class="fa fa-envelope"></i> Add by Email (Earn 1 credit for each email invitation)
            </button><br/><br/>
        </div>
        <ul class="sub_title col-md-6">
            <li>Invite goes out with your refferal code - <strong>{{refferalCode}}</strong>.</li><br/>
            <li>On sign up using refferal code both you and your friend get 10 credits.</li><br/>
        </ul>
    </div>

    <hr />
	
    <div class="form-group" style="float:right;">
        <a type="button" ng-if="!invited" class="btn btn-default btn-simple" href="myapp.html#/">Skip this step</a>
        <a type="button" ng-if="invited" class="btn btn-primary btn-fill" href="myapp.html#/">Finish</a>
    </div>
    
	<!-- sample pop up starts here-->
    <button href="#myModalTable" ng-hide="true" id="openBtn" data-toggle="modal" class="btn btn-default">Modal</button>
    <div class="modal fade" id="myModalTable">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Import Google Contacts</h3>
                </div>
                <div class="modal-body">
                    <h5 class="text-center">Please Select the Google Contacts you want to Import</h5>
                    <table id="friendsoptionstable" class="table table-striped" style='table-layout:fixed;word-wrap:break-word;'>
						<thead>
							<tr>
								<th class="tablecell" style="width: 50%">Email</th>
								<th class="tablecell" style="width: 15%">Name</th>
								<th class="tablecell" style="width: 25%">Mobile</th>
								<th class="tablecell" style="width: 12%">Import</th>
							</tr>
						</thead>
						<tbody>
                        </tbody>
					</table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-fill" data-dismiss="modal" ng-click="">Cancel</button>
					<button class="btn btn-primary btn-fill" id="addcheckedfriends1" ng-click="add_checked_friends()">Save Selected Friends</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- sample pop up ends here-->
    
</div>
