<div class="container-fluid" id="midcontainer" ng-cloak>
    
    <div class="row" style="display: flex;flex-wrap: wrap;">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-social btn-fill btn-facebook btn-block" ng-click="importfb()">
                        <i class="fa fa-facebook"></i> Invite Facebook Friends
                    </button>
                </div>
                <div class="col-xs-6">
                    (Earn 10 credits for the first time you invite)
                </div>
            </div><br/><br/>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-social btn-fill btn-google btn-block" ng-click="importgoogle()" href="" data-toggle="modal" data-target="#importContacts">
                        <i class="fa fa-google-plus"></i> Add Gmail Friends
                    </button>
                </div>
                <div class="col-xs-6">
                    (Earn 1 credit for each email invitation)
                </div>
            </div><br/><br/>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-info btn-fill btn-block" ng-click="directImport()">
                        <i class="fa fa-envelope"></i> Add by Email
                    </button>
                </div>
                <div class="col-xs-6">
                    (Earn 1 credit for each email invitation)
                </div>
            </div><br/><br/>
        </div>
        <ul class="sub_title col-xs-6" style="border-left: 1px solid #ccc;">
            <li>Invite goes out with your refferal code - <strong>{{refferalCode}}</strong>.</li><br/>
            <li>On sign up using your refferal code you and your friend get 10 credits each.</li><br/>
        </ul>
    </div>

    <hr />
	
    <div class="form-group" style="float:right;">
        <a type="button" ng-if="!invited" id="skip_button2" class="btn btn-default btn-simple" href="myapp.html#/mypostings">Skip this step</a>
        <a type="button" ng-if="invited" class="btn btn-primary btn-fill" href="myapp.html#/mypostings">Finish</a>
    </div>
    
	<!-- Google Contacts modal starts here-->
    <div class="modal fade" id="importContacts" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Select contacts you want to invite</h3>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="contact in contacts">
                                    <td>{{$index}}</td>
                                    <td>{{contact.name}}</td>
                                    <td>{{contact.email}}</td>
                                    <td>{{contact.mobile}}</td>
                                    <td>
                                        <input type="checkbox" ng-model="contact.selected">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
					<button class="btn btn-primary btn-fill" data-dismiss="modal" ng-click="inviteSelected()">Invite Selected Friends</button>
                    <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Google Contacts modal ends here-->
    
</div>
