html,body{
	overflow-x: hidden;
}

#icon{
	font-family: 'Happy Monkey', serif;
	color: #0066ff;
	font-size: 200%;
}

#newuser{
	color: gray;
}

#signup{
	color: red;
}

#signup:hover{
	color: green;
	text-decoration: none;
}