body{
	background-image: url("bluebackground.jpg");
	background-repeat: repeat;
	overflow-x: hidden;
}

#icon{
	font-family: 'Happy Monkey', serif;
	color: #0066ff;
	font-size: 200%;
}

#main{
	margin-top: 50px;
	margin-bottom: 300px;
}

#mainbackground{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /*opacity: 0.7;*/
	
}
/*
#panel{
	min-width: 200px;
	height: 200px;
	max-width: 300px;
	max-height: 300px;
}
*/
#itemform{
	margin: auto;
	width: 100%;
	min-width: 200px;
}

#main{
	margin: auto;
}

#midcontainer{
	margin: auto;
	padding-top: 50px;
}

#add_picture{
	margin-left: 40%;
	min-width: 150px;
}	

#heading{
	position: relative;
	text-align: center;
	color: #0066ff;
	font-size: 200%;
	font-family: 'Happy Monkey', serif;
	margin-top: 2%;
}

.addImport:hover{
	cursor: pointer;
}
.grant:hover{
	cursor: pointer;
}
.refuse:hover{
	cursor: pointer;
}
.think:hover{
	cursor: pointer;
}
.remove:hover{
	cursor: pointer;
}
.renew:hover{
	cursor: pointer;
}

#lease_item{
	margin-left: 40%;
	min-width: 150px;
}

#request_item{
	margin-left: 40%;
	min-width: 150px;
}

#add_item{
	margin-left: 40%;
	min-width: 150px;
}

#edit_item{
	margin-left: 40%;
	min-width: 150px;
}

#delete_item{
	margin-left: 40%;
	min-width: 150px;
}

#wish_item{
	margin-left: 40%;
	min-width: 150px;
}

#cancel{
	margin-left: 40%;
	min-width: 150px;
}

@media screen and (max-width: 500px){
	#add_picture{
		margin-left: 20%;
		min-width: 150px;
	}	

	#lease_item{
		margin-left: 20%;
		min-width: 150px;
	}

	#request_item{
		margin-left: 20%;
		min-width: 150px;
	}

	#add_item{
		margin-left: 20%;
		min-width: 150px;
	}

	#edit_item{
		margin-left: 20%;
		min-width: 150px;
	}

	#delete_item{
		margin-left: 20%;
		min-width: 150px;
	}	
	
	#cancel{
		margin-left: 20%;
		min-width: 150px;
	}
}
