body{
	height: 100%;
	width: 100%;
	min-height: 500px;
	min-width: 280px;
}

#itemcategory{
	max-width:800px;
}
#itemname{
	max-width:800px;
}
#itemdescription{
	max-width:800px;
}
#itemleasevalue{
	max-width:800px;
}
#itemleaseterm{
	max-width:800px;
}
#storeid{
	max-width:800px;
}

.addremoveeditbutton{
	width: 16%;
	height:24%;
	max-height:39%;
	max-width: 26%;
	min-height: 30px;
	min-width: 20px;
}
